<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/DineAlert_gaelan.css}">
    <title>DineAlert</title>
</head>
<body>
    <div class="backdropDiv">
        <div class = "mainDiv">
            <h1>Register your restaurant on DineAlert!</h1>
            <div class = "reportDiningDiv">
                <form id="newAdminAccountForm" action="#" method="post" th:action=@{/createadminaccount} th:object="${restaurant}">
                    <label>
                        Restaurant Name <br>
                        <input type = "text" autocomplete=off th:field=*{name} placeholder="Restaurant Name" required>
                    </label>
                    <label>
                        Username <br>
                        <input type = "text" autocomplete=off th:field=*{username} placeholder="Username" required>
                    </label>
                    <label>
                        Password <br>
                        <input type = "password" th:field=*{password} required>
                    </label>
                    <label>
                        Coordinates <br>
                        <input type = "number" th:field=*{latitude} step="0.0001" placeholder="latitude" required>
                        <input type = "number" th:field=*{longitude} step="0.0001" placeholder="longitude" required>
                    </label>
                    <input type = "submit" value="Create account">
                </form>
                <div id="CreateAccountMessagesDiv">
                    <p th:text="${message}"></p>
                </div>
            </div>
            <form id = "backToUserSelect" th:action = "@{/}" method="post">
                <td><input type ="submit" value="Return to Homepage" class = "backButton"/></td>
            </form>

            <br> <!--add break between buttons-->

            <form id = "backtoAdminLoginPage" th:action="@{/adminloginpage}" method="POST"> 
                <td><input type ="submit" value="Back to Admin Login" class = "backButton"/></td>
            </form> 
            
        </div>
    </div>
</body>
</html>
