<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/DineAlert_gaelan.css}">
    <title th:text="'Deleted ' + ${id}"></title>
</head>
<body>
    <p>Deleted Diner</p>
    <a style="font-weight: bolder; size: 2em;" th:href="@{/adminlogin}">Back to Restaurant page</a>
    <!-- NEED TO ADD SOME WAY OF getting back to the correctly logged in admin page, instead of the general log in -Markus -->
</body>
</html>