<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/index.css}">
    <title>DineAlert</title>
</head>
<body>
    <div class="backdropDiv">
        <div class = "mainDiv">
            <div class = "reportDiningDiv">
                <h1>Welcome to the DineAlert diner homepage!</h1>
            </div>
            <form id="customer_id_form" action="#" method="post" th:action=@{/diningreport} th:object="${dining}">
                <label>
                    Restaurant <br>
                    <input type = "text" autocomplete="off" th:field=*{restaurant} placeholder="Restaurant" required> <!-- the restaurant of the dining. we will later try to do this automatically. -->
                </label>
            </form>
            <div id="messagesDiv">
                <p th:text="${message}"></p>
            </div>
            
            <!-- back page button-->
            <form id = "backToUserSelect" th:action = "@{/}" method="post">
                <td><input type ="submit" value="Return to home" class = "backButton"/></td>
            </form>
            <br>
            <form id = "logout" th:action = "@{logout}" method = "post">
                <td><input type ="submit" value="Log out" class = "logout"/></td>
            </form>
            <br>
            <form id = "reportCovid" th:action = "@{covidreport}" method = "post">
                <td><input type="submit" value="I have tested positive for COVID-19" class ="reportCovid" onclick="return confirm('Are you sure you wish to report that you have tested positive for COVID-19?')" /></td>
            </form>
        </div>
    </div>
</body>
</html>
