<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/DineAlert_gaelan.css}">
    <title>Dine Alert Admin Page</title>
</head>
<body>
  <div class="backdropDiv">
        <div class = "mainDiv">
          <h1 class="welcomeHeader">Logged in!</h1>
          <!-- I think this was implemented when we were testing and restaurant no longer gets passed -Markus -->
            <!--<p th:text="${restaurant.getName()}"></p>-->
            <h2>Diner Information</h2>
            <table>
                <tr>
                    <th>ID</th>
                    <th> Name</th>
                    <th> Email</th>
                    <th> Time</th>
                    <th> Date</th>
                </tr>
                <tr th:each="rec : ${recs}">
                    <td><th:block th:text="${rec[0]}"/> </td>
                    <td><th:block th:text="${rec[1]}"/> </td>
                    <td><th:block th:text="${rec[2]}"/> </td>
                    <td><th:block th:text="${rec[3]}"/> </td>
                    <td><th:block th:text="${rec[4]}"/> </td>
                    <td>
                        <a th:href="@{'/home/deleted/' + ${rec[0]}}" th:text="DELETE"></a>
                    </td>
                </tr>
            </table>
            <form id = "LogOutAdmin" th:action = "@{/adminlogin}" method="post">
                <td><input type ="submit" value="Log Out" class = "backButton"/></td>
            </form>
            </div>
        </div>
  </div>
</body>
</html>
