<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/DineAlert_gaelan.css}">
    <title>Dine Alert Admin Page</title>
</head>
<body>
  <div class="backdropDiv">
        <div class = "mainDiv">
          <h1 class="welcomeHeader">Logged in!</h1>
            <h2>Diner Information</h2>
            <table>
                <tr>
                    <th>ID</th>
                    <th> Name</th>
                    <th> Email</th>
                    <th> Time</th>
                    <th> Date</th>
                    <th> Exposed</th>
                </tr>
                <tr th:each="rec : ${recs}">
                    <td><th:block th:text="${rec[0]}"/> </td>
                    <!--[1] is name-->
                    <td><th:block th:text="${rec[1]}"/> </td>
                    <!--[2] is email-->
                    <td><th:block th:text="${rec[2]}"/> </td>
                    <td><th:block th:text="${rec[3]}"/> </td>
                    <td><th:block th:text="${rec[4]}"/> </td>
                    <td><th:block th:text="${rec[5]}"/> </td>
                    <td>
                        <a th:href="@{'/home/deleted/' + ${rec[0]}}" th:text="DELETE"></a>
                    </td>
                    <td>
                        <!--<a th:href="@{'/home/sendEmail/' + ${rec[2]}}" th:text="SENDEMAIL"></a>-->
                    </td>
                </tr>
            </table>
            <form id = "Return to home" th:action = "@{/}" method="post">
                <td><input type ="submit" value="Return to Home" class = "backButton"/></td>
            </form>

            <form id = "Log out" th:action = "@{logout}" method="post">
                <td><input type ="submit" value="Log out" class = "logoutButton"/></td>
            </form>
        
  </div>
  </div>
</body>
</html>
