<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/DineAlert.css}">
    <title>Welcome to DineAlert!</title>
</head>
<body>
  <div class="backdropDiv">
        <div class = "mainDiv">
          <h1 class="welcomeHeader">Welcome to DineAlert!</h1>
            <div class = "userTypesDiv">
                <table class = "userTypesTable">
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                    <tr>
                      <td><a th:href ="@{/adminloginpage}">Login to Admin Account</a></td>
                        <td></td>
                      <td><a th:href ="@{/diningreport}">Report Dining</a></td>
                    </tr>
                </table>
            </div>
        </div>
  </div>
</body>
</html>
