<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheets/map.css}" >
    <title>My Google Map</title>
</head>
<body>
<h1>My Google Map</h1>
<div id="map" class="map"></div>
<script>
    function initMap(){
    var options = {zoom:8, center:{lat:42.2827, lng:-123.1207}}
    var map = new google.maps.Map(document.getElementById("map"), options);
    console.log("initMap() running")
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASo6THrWFZEbKpE1Gfbsl8pfuBTHUhmBI&callback=initMap"></script>
<div id="test"></div>
</body>
</html>